version: "3.9"

services:
  auth-db:
    image: mongo:6.0
    container_name: auth-mongo-db
    restart: always
    environment:
      MONGO_INITDB_DATABASE: authdb
      MONGO_INITDB_ROOT_USERNAME: auth_user
      MONGO_INITDB_ROOT_PASSWORD: authcompnypoint1
    ports:
      - "27017:27017"
    volumes:
      - auth_data:/data/db

  auth-api:
    build:
      context: ./auth-service
    container_name: auth-service-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://auth_user:authcompnypoint1@auth-db:27017/authdb?authSource=admin
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
    depends_on:
      - auth-db
    command: ["npm", "start"]

  expense-db:
    image: postgres:15
    container_name: expense-db
    environment:
      POSTGRES_USER: expenses_user
      POSTGRES_PASSWORD: expenses_password
      POSTGRES_DB: expenses_db
    ports:
      - "5433:5432"
    volumes:
      - expense-data:/var/lib/postgresql/data
      - ./expense-service/db:/docker-entrypoint-initdb.d

  expense-api:
    build: ./expense-service/api
    container_name: expense-api
    environment:
      PORT: 3001
      DB_HOST: expense-db
      DB_PORT: 5432
      DB_USER: expenses_user
      DB_PASSWORD: expenses_password
      DB_NAME: expenses_db
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
    depends_on:
      - expense-db
    ports:
      - "3001:3001"

  workhours-db:
    image: postgres:15
    container_name: workhours-db
    environment:
      POSTGRES_USER: workhours_user
      POSTGRES_PASSWORD: workhours_password
      POSTGRES_DB: workhours_db
    ports:
      - "5432:5432"
    volumes:
      - workhours-data:/var/lib/postgresql/data
      - ./work-hours-service/db:/docker-entrypoint-initdb.d

  workhours-api:
    build: ./work-hours-service/api
    container_name: workhours-api
    environment:
      PORT: 3002
      DB_HOST: workhours-db
      DB_PORT: 5432
      DB_USER: workhours_user
      DB_PASSWORD: workhours_password
      DB_NAME: workhours_db
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
      TODOCHART_SERVICE_URL: http://todochart-service:8080
    depends_on:
      - workhours-db
      - todochart-service
    ports:
      - "3002:3002"

  employee-db:
    image: postgres:16-alpine
    container_name: employee-db
    environment:
      POSTGRES_USER: employee_user
      POSTGRES_PASSWORD: employee_pass
      POSTGRES_DB: EmployeeDB
    ports:
      - "5434:5432"
    volumes:
      - employee-data:/var/lib/postgresql/data

  employeeservice:
    build:
      context: ./employee-service
    container_name: employeeservice
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__EmployeeDb: Host=employee-db;Port=5432;Database=EmployeeDB;Username=employee_user;Password=employee_pass
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
    depends_on:
      - employee-db
      - auth-api
      - rabbitmq
    ports:
      - "5007:8080"

  holiday-db:
    image: postgres:15-alpine
    container_name: holiday-db
    environment:
      POSTGRES_USER: holiday_user
      POSTGRES_PASSWORD: holiday_pass
      POSTGRES_DB: holiday_service
    ports:
      - "5435:5432"
    volumes:
      - holiday-data:/var/lib/postgresql/data

  holiday-service:
    build:
      context: ./HolidayService
    container_name: holiday-service
    restart: always
    environment:
      NODE_ENV: production
      PORT: 5004
      DB_HOST: holiday-db
      DB_PORT: 5432
      DB_USERNAME: holiday_user
      DB_PASSWORD: holiday_pass
      DB_DATABASE: holiday_service
      DB_SYNC: "true"
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
      AUTH_SERVICE_URL: http://auth-api:3000
      TODOCHART_SERVICE_URL: http://todochart-service:8080
    depends_on:
      - holiday-db
      - auth-api
      - todochart-service
    ports:
      - "5004:5004"

  todo-db:
    image: postgres:16-alpine
    container_name: todo-db
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
      POSTGRES_DB: ToDoDB
    ports:
      - "5436:5432"
    volumes:
      - todo-data:/var/lib/postgresql/data

  todochart-service:
    build:
      context: ./todochart-service
    container_name: todochart-service
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__ToDoDb: Host=todo-db;Port=5432;Database=ToDoDB;Username=todo_user;Password=todo_pass
      JWT_SECRET: thIsismysup€rsafes3cretkey123!
      RABBITMQ_HOST: rabbitmq
    depends_on:
      - todo-db
      - auth-api
      - rabbitmq
    ports:
      - "5003:8080"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  auth_data:
  expense-data:
  workhours-data:
  employee-data:
  holiday-data:
  todo-data:
