@import "primeicons/primeicons.css";

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem !important;
}

h3 {
    color: #333;
    font-size: 1.25rem;
    margin: 0;
}

@media (max-width: 768px) {
    .page-wrapper {
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .page-wrapper {
        padding: 0.5rem;
    }
}